@import url('https://fonts.googleapis.com/css?family=Roboto')

body
	font-family 'Roboto', sans-serif !important
	font-size 16px

header
footer
	background #0A2143
header	
	padding 10px
	figure
		margin 0 !important
		img
			
			height 50px
hr
	background #6DCD5E
	border none
	height 2px	
	width 40%

main
	padding-bottom 60px
	padding-top 52px 
	
	article
		margin-top 17px
	.contentTeam
		p
			margin-top 12px
	
	.social
		margin-top 17px
	.teamDev
		img
			box-shadow 2px 1px 2px #D1D1D1
			
			height 223px
			
footer
	padding 20px 0 10px 0
	color white
	a
		color white
	p
		font-size 1.2em
	.socialMedia
		img
			height 32px
	
.center
	text-align center